
.footer{
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-left: 108px;
    margin-bottom: 48px;
    margin-right: 108px;

    width: 1224px;
    height: 222px;
    border-radius: 12px;
    background: var(--gray-900, #101828);
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.08), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);

    z-index: 1000;
    
}

.footer_logo{
    width: 217px;
    height: 24px;

    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 50% */
    letter-spacing: -0.154px;
}

.footer_second_logo{
    display: flex;
    align-items: center;
    gap: 12px;

    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
    letter-spacing: -0.078px;
}

.footer_content{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer_content_point{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.content_point_text_first{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--gray-400, #98A2B3);
    font-feature-settings: 'clig' off, 'liga' off;
    /* SF Subhead Medium */
    font-family: SF Pro Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.154px;
}

.content_point_text_second{
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    /* SF Title 3 Semibold */
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    line-height: 22px; /* 129.412% */
    letter-spacing: -0.408px;
    width: 294px;
}