@media screen and (min-device-width: 768px) and (max-device-width: 1439px) {

    .form_techContent{
        display: flex;
        height: 531px;
        width: 768px;
        padding-left: 33px;
        padding-top: 32px;
    }
    
    .form_techContent_first{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 34px;
    }
    
    .form_techContent_first_header{
        display: inline-flex;
        width: 321px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    
    }
    
    .form_techContent_first_header h1{
        color: var(--gray-900, #101828);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 144%; /* 40.32px */
        letter-spacing: 0.326px;
    }
    
    .form_techContent_first_header p{
        width: 198px;
        height: 20px;
        color: var(--gray-900, #101828);
        font-feature-settings: 'clig' off, 'liga' off;
        /* SF Text Medium */
        font-family: SF Pro Text;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 133.333% */
        letter-spacing: -0.24px;
    }
    
    .form_techContent_first_content {
        display: inline-flex;
        width: 320px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
    
    .form_techContent_first_content_point {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }
    
    .form_techContent_first_content_point h3{
        width: 496px;
    
        color: var(--gray-900, #101828);
        font-feature-settings: 'clig' off, 'liga' off;
        /* SF Title 2 Semibold */
        font-family: SF Pro Display;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 120% */
        letter-spacing: 0.38px;
    }
    
    .form_techContent_first_content_point p{
        width: 277px;
    
        color: var(--gray-700, #344054);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: SF Pro Text;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        letter-spacing: -0.408px;
    }
    
    .form_techContent_second {
        margin-top: 120px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 128px;
    }
    
    .form_techContent_second_point {
        display: flex;
        padding: 12px 0px;
        gap: 12px;
        color: var(--gray-800, #1D2939);
        font-feature-settings: 'clig' off, 'liga' off;
        /* SF Title 2 Regular */
        font-family: SF Pro Display;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        letter-spacing: 0.38px;
    }
    
    .form_techContent_second_point a {
        text-decoration: none;
        color:#101828 !important;
    }
    
    .form_techContent_second_point_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }
    .text_vector {
        display: none;
    }
    
    .form_techContent_second_point_text:hover  .text_vector {
        display: block;
        height: 2;
    }


}