@media screen and (min-device-width: 768px) and (max-device-width: 1439px) {

    .background_mobile, .phone_mobile{
        display: none;
    }

    .background{
        display: flex;
    }
    .phone{
        position: absolute;
        width: 1000px;
    }

    @keyframes movement_left {
        0%{
          transform: rotate(-12deg) translateY(100px);
        }
        100%{
          transform: rotate(-12deg) translateY(-300px);
        }
      }
      
      @keyframes movement_right {
        0%{
          transform: rotate(-12deg) translateY(-200px);
        }
        100%{
          transform: rotate(-12deg) translateY(200px);
        }
      }

    .background_photo2{
        margin-left: -520px; margin-top: 300px;
        animation: movement_right 6s infinite alternate linear;
        animation-iteration-count: infinite;
    }

    .background_photo{
        margin-left: -350px; margin-top: 500px;
        animation: movement_left 6s infinite alternate linear;
        animation-iteration-count: infinite;
    }

    .background_photo img, .background_photo2 img{
        width: 80%;
        height: 80%;
    }
    
    .menu{
        display: flex;
        width: 768px;
        height: 90px;
        margin-left: 1px;
        margin-top: 16px;
        padding: 25px 32px;
        justify-content: space-between;
        align-items: center;    
        flex-shrink: 0; 
        position: fixed;
    }

    .menu_group{
        display: flex;
    }
    
    .logo{
        width: 120px;
        height: 24px;  
        flex-shrink: 0;  
        position: absolute;
        margin-left: 324px;
    }
    
    ul.menu_list{
        display: none;
    }
    
    .menu_telephone_contacts{
        display: none;
    }
  
    .form_content{
        width: 383px;
        margin-top: 138px;
        margin-left: 32px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    
    .form_content_first h2{
        color: var(--gray-900, #101828);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 144%; /* 40.32px */
        letter-spacing: 0.326px;
    }

    .form_content_second p{
        color: var(--gray-900, #101828);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: SF Pro Text;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 133.333% */
        letter-spacing: -0.24px;
    }

    .form_consultation{
        margin-top: 32px;
        margin-left: 33px;
        margin-bottom: 32px;
        display: flex;
        padding: 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        width: 382px;
    }
    
    .form_consultation h2{
        width: 295px;
        color: var(--gray-900, #101828);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
        letter-spacing: 0.38px;
    }
    
    .form_getConsultation {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 32px;
    }
    
    .form_getConsultation label{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    
    .text_box_Phone_number{
        width: 224px;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    
    .form_consultation input{
        width: 224px;
    }
    
    .form_button {
        display: flex;
        padding: 11px 24px;
        align-items: center;
        gap: 8px;
        height: 40px;
        width: 155px;
    }
    
    .button_text{
        color: var(--White, #FFF);
        font-feature-settings: 'clig' off, 'liga' off;
        /* SF Subhead Semibold */
        font-family: SF Pro Text;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 128.571% */
        letter-spacing: -0.154px;
        width: 112px;
        height: 18px;
        text-align:left;
    }

}