.add-newTodo-form{
    position: fixed;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.4);
}

.add-newTodo-form-cancel{
    width: 20px;
    height: 20px;
    display: flex;
    margin-left: 280px;
    justify-content: center;
}

.add-newTodo-form-cancel-img{
    width: 15px;
    height: 15px;
}

.add-newTodo-form-part{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.add-newTodo-form-part-text{
    width: 40px;
    margin-right: 15px;
}

.add-newTodo-form-part-input{
    display: flex;

}

.add-newTodo-form-ok{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 20px;
}

.add-newTodo-form-ok-text{

}