@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Bold'), local('Inter Bold'),
         url("/static/fonts/Inter-Bold.ttf") format("truetype"),
         url("/static/fonts/Inter-Bold.woff2") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("/static/fonts/SFProText-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Text Semibold";
    src: url("/static/fonts/SFProText-Semibold.ttf");
    font-weight: 600;
}