/*Форма настроек заказа*/
.pizza-form{
    display: flex;
    width: 400px;
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    align-items: center;

}
/*Форма выбора размера*/
.form-size-pick{
    width: 100%;
}

.form-size-pick-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-size-pick-title-text{

}

.form-size-pick-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;

    background-color: rgb(236, 233, 233);
    border-radius: 12px;
}

.form-size-pick-button{
    width: 50%;
    height: 25px;

    background-color: white;
    border: 1px solid  rgb(236, 233, 233);
    border-radius: 12px;
    transition-duration: 0.3s;
}

.form-size-pick-notselected-button{
    background-color:   rgb(236, 233, 233);
    border: none;
}

.form-size-pick-notselected-button:hover{
    background-color: rgb(224, 224, 224);
}


.form-size-pick-button-text{

}

/*Форма добавок*/
.form-add-toppings{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.form-toppings-list{
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.form-topping{
    width: 28%;
    height: 170px;

    background-color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    transition-duration: 0.3s;
}

.form-topping:hover{
    background-color: rgba(137, 151, 151, 0.158);
}

.form-topping-image{
    width: 100px;
    height: 100px;
}

.form-topping-name{

}

.form-topping-price{
    padding-top: 3px;
    font-weight: bold; 
}

/*Кнопка принять*/
.form-accept-button{
    border-radius: 25px;
    background-color: rgb(233, 87, 2);
    border: none;
    height: 10%;
    width: 80%;

    transition-duration: 0.3s;
}

.form-accept-button:hover{
    background-color: rgb(207, 79, 5);
}

.form-accept-button-text{
    color: white;
}