.post-body{
    width: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    flex-wrap: wrap;
}

.post-body-id{
    width: 100%;
    display: flex;
    justify-content: end;
}

.post-body-text{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}