.post-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
    border-bottom: 1px black solid;
}

.post-bottom-button{


}
.post-bottom-button-icon{
    width: 20px;
    height: 20px;
}