.todos-list {
    display: flex;
    flex-direction: column;
}

.todos-list-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.todo-item-checkbox {

}

.todo-item-text {

}

.todos-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}

.todos-form-fields {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.todos-form-checkbox {
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-self: center;
}

.todo-item {
    display: flex;
    flex-direction: row;
    gap: 40px;
    
    border-radius: 12px;
    background-color: white;
    border: none;
    
    transition-duration: 0.3s;
}

.todo-item-selected{
    border-radius: 12px;
    background-color: rgba(137, 151, 151, 0.158);
    border: none;
}

.todo-item:hover{
    background-color: rgba(137, 151, 151, 0.158);
}
